<a href="https://colab.research.google.com/github/Eduardo-318/cyp_2021/blob/main/Tarea_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("Ingrese el sueldo del primer trabajador")
SUE1=float(input())
print("Ingrese el sueldo del segundo trabajador")
SUE2=float(input())
print("Ingrese el sueldo del tercer trabajador")
SUE3=float(input())
print("Ingrese el sueldo del cuarto trabajador")
SUE4= float(input())
print("Ingrese el sueldo del quinto trabajador")
SUE5=float(input())
print("Ingrese el suedlo del sexto trabajador")
SUE6= float(input())
print("Ingrese el sueldo del septimo trabajador")
SUE7=float(input())
print("Ingrese el sueldo del octavo trabajador")
SUE8=float(input())
print("Ingrese el sueldo del noveno trabajador")
SUE9=float(input())
print("Ingrese el sueldo del decimo trabajador")
SUE10=float(input())

nomina=(SUE1+SUE2+SUE3+SUE4+SUE5+SUE6+SUE7+SUE8+SUE9+SUE10)
print("Nomina total:",nomina)

Ingrese el sueldo del primer trabajador
9043
Ingrese el sueldo del segundo trabajador
5
Ingrese el sueldo del tercer trabajador
4376
Ingrese el sueldo del cuarto trabajador
8910
Ingrese el sueldo del quinto trabajador
7843
Ingrese el suedlo del sexto trabajador
1246
Ingrese el sueldo del septimo trabajador
5423
Ingrese el sueldo del octavo trabajador
3189
Ingrese el sueldo del noveno trabajador
3197
Ingrese el sueldo del decimo trabajador
5490
Nomina total: 48722.0